html, body {
    height: 100%;
    margin: 0;
}

#blocklyArea {
    height: 99%;
}

#sec-blocky{
    text-align: center;
}

        .pure-g > div {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .l-box {
            padding: 1em;
        }