html{
    position: relative;
    height: 100%;
}

body {
    background-image: url("../img/geometry2.png");
}

footer {
    background-color: #414141;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

#blocklyArea {
    min-height: calc(100vh - 160px);
}

#level_selector {
    padding-top: 30px;
    text-align: center;
}

#global_body {
    padding-top: 20px;
}

.button-xlarge {
    font-size: 125%;
    padding: 1.5vh 50px;
    background: #c5c5c5;
}

.pure-button-active {
    color: white;
    background: #808080;
}

.text_bottom_bar {
    font-size: 175%;
    font-weight: bold;
    margin-top: 1vh;
}

#col_izq{
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    height: calc(100vh - 170px);
}

#select_exercise{
    width: 90%;
    margin-top: 1.5vh;
}

.pure-img{
    width: 100%;
    height: 100%;
    display: block;
}

#top_col_izq{
    height: 100px;
    text-align: center;
}

#medium_col_izq{
    height: calc(100% - 250px);
    background-image: url("../img/purty_wood.png");
    display: flex;
}

#bottom_col_izq{
    height: 100px;
    display: flex;
}

#buttons_col_izq{
    height: 50px;
    text-align: center;
}

#top_col_izq p{
    font-size: 200%;
    margin-top: 35px;
    margin-bottom: 26px;
}

footer p, a{
    text-align: center;
    margin-top: 7px;
    color:white;
}

#bottom_col_izq img{
    padding-left: 10px;
    padding-top: 2vh;
}

.inside {
    font-size: 150%;
    padding: 1em 1em;
    margin: auto;
}

#plate{
    margin: auto;
    width:90%;
    position: relative;
}

.language_buttons{
    margin-top: 3px;
    height: 32px;
}

.language_buttons_active{
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.modal {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: absolute;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    transition: all .5s;
}

.modal ul, .modal p{
    width: 75%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 2em;
    text-align: center;
}

.modal li{
    margin-bottom: 10px;
}

#button_close_modal{
    display: none;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
    color: #fff;
    transition: all .5s;
}

.food_in_dish{
    position: absolute;
    margin: auto;
    width: 7%;
}