html, body {
    height: 100%;
    margin: 0;
}

#blocklyArea {
    height: 99%;
}

#level_selector {
    padding-top: 23px;
    text-align: center;
}

#global_body {
    padding-top: 20px;
}

.button-xlarge {
    font-size: 125%;
    padding: 10px 50px;
}

#level_text {
    font-size: 175%;
    font-weight: bold;
    margin-top: 6px;
}